name: LinkedIn Automation

on:
  schedule:
    - cron: '30 5 * * 2,4'
  workflow_dispatch:

jobs:
  post:
    runs-on: ubuntu-latest

    steps:
      # - name: Random delay
      #   run: |
      #     DELAY=$((RANDOM % 10800))
      #     sleep $DELAY

      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Run script
        run: node index.js
        env:
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}